@import "../style.css";
@import "../type.css";

#recipe01{
    background-image: url(./cake/recipe01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#recipe02{
    background-image: url(./cake/recipe02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}