@import "./style.css";

.container{
    display: grid;
    margin: auto;
    width: 90vw;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax( 10vh, auto );
    grid-gap: 2vw;
    grid-template-areas:
    "Title Title Title"
    "Header Header Header"
    "Sub Content Content"
    "Other Content Content"
    "Other Content Content"
    "Other Content Content";

    font-size: 1rem;

    justify-content: center;
    align-items: center;

    /* border: 1px solid blue; */
}

@media ( max-width: 600px ) {
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(10vh, auto);
        grid-template-areas: 
        "Title Title"
        "Header Header"
        "Sub Sub"
        "Content Content";

        /* border: 1px solid red; */
    }
}

.box{
    display: flex;
    margin: auto;

    width: 24vw;
    height: 36vw;

    align-items: center;
    justify-content: center;

    /* border: 1px solid black; */
    border-radius: 10%;
    /* background-color: whitesmoke; */

    font-family: Georgia;
    color: white;
    font-size: 1.5em;
}

.content{
    display: grid;
    margin-bottom: 3vh;
    width: 100%;

    grid-area: Content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;

    font-size: 1.5vw;

    align-items: center;
    justify-content: center;
    /* background-color: lightsalmon; */
    /* border: 2px solid yellow; */
}
@media ( max-width: 600px ){
    .content{
        grid-template-columns: 1fr 1fr 1fr;

        font-size: 1.2vw;
    }
}

#salad{
    background-image: url(./main/salad.jpg);
    background-size: cover;
}

#soup{
    background-image: url(./main/soup.jpg);
    background-size: cover;
}

#roast{
    background-image: url(./main/roast.jpg);
    background-size: cover;
}

#BBQ{
    background-image: url(./main/BBQ.jpg);
    background-size: cover;
}

#cake{
    background-image: url(./main/cake.jpg);
    background-size: cover;
}

#dessert{
    background-image: url(./main/dessert.jpg);
    background-size: cover;
}

#drink{
    background-image: url(./main/drink.jpg);
    background-size: cover;
}

#cookie{
    background-image: url(./main/cookie.jpg);
    background-size: cover;
}

