* {
    padding: 0;
    margin: 0;
}

body{
    margin: auto;

    /* background-color: lightcyan; */
    /* border: 1px solid #40696d; */
}
@media ( max-width: 600px ){
    body{
        /* background-color: pink; */
    }
}

a{
    text-decoration: none;
    color: white;
}

/* SIDE MENU */
.sidemenu{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    grid-area: Sub;

    flex-direction: column;

    font-size: 1vw;
    color: white;

    align-items: center;
    justify-content: center;

    /* border: 1px solid blue; */
}
.menu{
    display: flex ;
    flex: auto;
    width: 30vw;
    height: 5vw;
    /* grid-area: _menu; */

    font-size: 1.5em;

    background-color: #40696d;

    align-items: center;
    justify-content: center;
}
.menu_item{
    display: flex;
    width: 100%;
    height: 5.5vw;

    font-size: 1.1em;

    background-color: cadetblue;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black;  */
}

@media ( max-width: 600px ){
    .sidemenu{
        width: 100%;
    }
    .menu{
        width: 90vw;
        height: 6vw;
    }
    .menu_item{
        height: 6vw;
    }
}
@media ( max-width: 900px ){
    .sidemenu{
        font-size: 1.8vw;
    }
}

/* NAV BAR */
.navbar{
    display: grid;
    width: auto;
    height: auto;

    grid-template-columns: repeat( 11, 1fr );
    grid-template-areas: "pre logo logo none none none none none none other sub";

    background-color: #40696d;
}
.nav_logo{
    display: flex;
    height: 80px;
    grid-area: logo;

    color: white;
    font-size: 2.5vw;

    justify-content: center;
    align-items: center;
}

/* TITLE */
.title{
    display: flex;
    width: 100%;
    height: 40vw;
    margin: auto;

    grid-area: Title;
    user-select: none;

    color: darkkhaki;
    font-size: 7vw;
    font-family: Georgia;

    justify-content: center;
    align-items: center;

    border-radius: 0%;

    /* background-image: url(./title.jpg); */
    /* background-size: contain;
    background-repeat: round; */

    /* border: 1px solid black; */
}

/* HEADER */
.header{
    grid-area: Header;
    display: grid;
    width: 100%;
    height: auto;

    grid-row: 1fr 1fr;

    font-size: 1.5vw;

    border-radius: 0%;

    align-items: center;
    justify-content: center;

    /* border: 1px solid yellow; */
}
@media ( max-width: 600px ){
    .header{
        font-size: 2.5vw;
    }
}
#head_main{
    display: flex;
    height: auto;
    color: black;
    font-size: 1.3em;

    align-items: center;
    justify-content: center;
}
#head_sub{
    display: flex;
    height: auto;
    color: #a3865b;;
    font-size: 0.8em;

    text-align: center;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
.footer{
    display: flex;
    width: 100vw;
    height: 80px;

    color: white;
    font-size: 1.5vw;
    font-family: Georgia;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: #40696d;
    /* border: 1px solid red; */
}
@media ( max-width: 600px ){
    .footer{
        font-size: 2vw;
    }
}