@import "../style.css";
@import "../type.css";

#recipe01{
    background-image: url(./BBQ/recipe01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#recipe02{
    background-image: url(./BBQ/recipe02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#recipe03{
    background-image: url(./BBQ/recipe03.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}